<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CurrencyConverter</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div align="right" class="mt-1 mr-1">
    <form action="/logout" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>

<div align="center" class="md-5"><h1>Конвертер</h1></div>

<center>
    <form action="" method="post">
        <div class="btn-group mr-5 mt-5" role="group" aria-label="Button group with nested dropdown" align="center">
            <div class="form-group" role="group">
                <input type="text" class="form-control col-sm-8 mr-5" id="currencyAmount" placeholder="0"
                       name="currencyAmount">

                <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle mt-2 mr-5"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${name}"/>
                </button>

                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="?charcode=AUD&name=Австралийский доллар">Австралийский доллар</a>
                    <a class="dropdown-item" href="?charcode=AZN&name=Азербайджанский манат">Азербайджанский манат</a>
                    <a class="dropdown-item" href="?charcode=GBP&name=Фунт стерлингов Соединенного королевства">Фунт
                        стерлингов Соединенного королевства</a>
                    <a class="dropdown-item" href="?charcode=AMD&name=Армянский драм">Армянский драм</a>
                    <a class="dropdown-item" href="?charcode=BYN&name=Белорусский рубль">Белорусский рубль</a>
                    <a class="dropdown-item" href="?charcode=BGN&name=Болгарский лев">Болгарский лев</a>
                    <a class="dropdown-item" href="?charcode=BRL&name=Бразильский реал">Бразильский реал</a>
                    <a class="dropdown-item" href="?charcode=HUF&name=Венгерский форинт">Венгерский форинт</a>
                    <a class="dropdown-item" href="?charcode=HKD&name=Гонконгский доллар">Гонконгский доллар</a>
                    <a class="dropdown-item" href="?charcode=DKK&name=Датская крона">Датская крона</a>
                    <a class="dropdown-item" href="?charcode=USD&name=Доллар США">Доллар США</a>
                    <a class="dropdown-item" href="?charcode=EUR&name=Евро">Евро</a>
                    <a class="dropdown-item" href="?charcode=INR&name=Индийская рупия">Индийская рупия</a>
                    <a class="dropdown-item" href="?charcode=KZT&name=Казахстанский тенге">Казахстанский тенге</a>
                    <a class="dropdown-item" href="?charcode=CAD&name=Канадский доллар">Канадский доллар</a>
                    <a class="dropdown-item" href="?charcode=KGS&name=Киргизский сом">Киргизский сом</a>
                    <a class="dropdown-item" href="?charcode=CNY&name=Китайский юань">Китайский юань</a>
                    <a class="dropdown-item" href="?charcode=MDL&name=Молдавский лей">Молдавский лей</a>
                    <a class="dropdown-item" href="?charcode=NOK&name=Норвежская крона">Норвежская крона</a>
                    <a class="dropdown-item" href="?charcode=PLN&name=Польский злотый">Польский злотый</a>
                    <a class="dropdown-item" href="?charcode=RON&name=Румынский лей">Румынский лей</a>
                    <a class="dropdown-item" href="?charcode=XDR&name=СДР (специальные права заимствования)">СДР
                        (специальные права заимствования)</a>
                    <a class="dropdown-item" href="?charcode=SGD&name=Сингапурский доллар">Сингапурский доллар</a>
                    <a class="dropdown-item" href="?charcode=TJS&name=Таджикский сомони">Таджикский сомони</a>
                    <a class="dropdown-item" href="?charcode=TRY&name=Турецкая лира">Турецкая лира</a>
                    <a class="dropdown-item" href="?charcode=TMT&name=Новый туркменский манат">Новый туркменский
                        манат</a>
                    <a class="dropdown-item" href="?charcode=UZS&name=Узбекский сум">Узбекский сум</a>
                    <a class="dropdown-item" href="?charcode=UAH&name=Украинская гривна">Украинская гривна</a>
                    <a class="dropdown-item" href="?charcode=CZK&name=Чешская крона">Чешская крона</a>
                    <a class="dropdown-item" href="?charcode=SEK&name=Шведская крона">Шведская крона</a>
                    <a class="dropdown-item" href="?charcode=CHF&name=Швейцарский франк">Швейцарский франк</a>
                    <a class="dropdown-item" href="?charcode=ZAR&name=Южноафриканский рэнд">Южноафриканский рэнд</a>
                    <a class="dropdown-item" href="?charcode=KRW&name=Вон Республики Корея">Вон Республики Корея</a>
                    <a class="dropdown-item" href="?charcode=JPY&name=Японская иена">Японская иена</a>
                </div>
            </div>
        </div>

        <div class="btn-group ml-5 mt-5" role="group" aria-label="Button group with nested dropdown" align="center">
            <div class="form-group" role="group">
                <input class="form-control col-md-10" type="text" placeholder="0" th:value="${totalAmount}"
                       readonly="readonly">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary mt-2 col-md-10"
                        aria-haspopup="true" aria-expanded="false">
                    Рубль
                </button>
            </div>
        </div>

        <div>
            <button class="btn btn-outline-primary mt-5" type="submit">Конвертировать</button>
        </div>
    </form>
</center>

<div align="center" class="mt-5">
    <a class="btn btn-link" href="/history" role="button">История запросов</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>